@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-50 text-neutral-800 font-sans antialiased;
}

.glass {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-sm;
}

.glass-sidebar {
  @apply bg-white/90 backdrop-blur-xl border-r border-neutral-200;
}